<%= form_with(model: notification, url: url) do |form| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>
      <ul>
        <% notification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title %>
    <div class="news-title-container">
      <%= form.text_field :title %>
    </div>
  </div>
  <div class="field">
    <%= form.label :content %>
    <div class="news-content-container">
      <%= form.text_area :content %>
    </div>
  </div>
  <div class="field">
    <%= form.label :image %>
    <div class="news-image-container">
      <%= form.file_field :image, accept: "image/png,image/jpeg,image/gif" %>
    </div>
  </div>
  <div class="news-submit">
    <%= form.submit %>
  </div>
<% end %>
