<p id="notice"><%= notice %></p>

<h1>Admin Notifications</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.title %></td>
        <td><%= notification.content %></td>
        <td><%= notification.image %></td>
        <td><%= link_to 'Show', admin_notification_path(notification) %></td>
        <td><%= link_to 'Edit', edit_admin_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', admin_notification_path(notification), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Notification', new_admin_notification_path %>
