<div class="news-all-list">
  <h2>お知らせ一覧</h2>
  <table class="list">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th>画像</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @notifications.each do |notification| %>
        <tr>
          <td><%= notification.title %></td>
          <td><%= notification.content %></td>
          <td><%= notification.image %></td>
          <td><%= link_to '詳細', admin_notification_path(notification) %></td>
          <td><%= link_to '編集', edit_admin_notification_path(notification) %></td>
          <td><%= link_to '削除', admin_notification_path(notification), method: :delete, data: { confirm: '削除しますか?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="return-new-news">
    <%= link_to '新規お知らせ投稿', new_admin_notification_path %>
  </div>
  <div class="return-top-news">
    <%= link_to '管理画面トップページ', admin_root_path %>
  </div>
</div>
