<h1>管理者画面 お知らせ新規投稿</h1>
<%= form_with model: @notification, url: admin_notifications_path, local: true do |form| %>
  <p class="title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p class="content">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </p>
  <p class="img">
    <%= form.file_field :image %>
  </p>

  <%= form.submit "送信" %>
  </p>
<% end %>

