<h1>規定営業日・休業日追加登録</h1>
<%= form_with url: admin_day_conditions_path, scope: :day_condition do |form| %>
  <input type="text" name="applicable_date" id="flatpickr" data-min_date="<%= l(@initial_date) %>">
  <div style="padding: 2rem;">
    <% (0..6).to_a.each do |wday| %>
      <%= render "slider", wday: wday %>
    <% end %>
  </div>
  <%= form.submit "送信" %>
<% end %>
<%= link_to "規定営業日&休業日 一覧ページ", admin_day_conditions_path %>
<%= link_to '管理画面トップページ', admin_root_path %>
