<%= form_with(model: reservation, url: admin_reservation_path(reservation)) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :guest_number, for: "num-box" %>
    <%= form.text_field :guest_number, id: "num-box" %>
  </div>
  <div class="reservation_date">
    <%= form.label :started_date, "予約日" %>
    <%= form.text_field :started_date, id: "flatpickr", value: @reservation.start_at.to_date %>
  </div>
  <label for="time-box" id="reservation_time">予約時間</label>
  <select name="reservation[started_time]" id="time-box">
    <option selected><%= l @reservation.start_at, format: :short %></option>
  </select>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>
  <div class="field">
    <%= form.label :request %>
    <%= form.text_area :request %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
