<%= form_with(model: @reservation, url: admin_reservation_path(reservation)) do |form| %>
  <div class="field">
    <%= form.label :guest_number, for: "num-box" %>
    <%= form.text_field :guest_number, id: "num-box" %>
  </div>
  <div class="reservation_date">
    <%= form.label :date, "予約日" %>
    <%= form.text_field :date, id: "flatpickr" %>
  </div>
  <label for="time-box" id="reservation_time">予約時間</label>
  <select name="reservation[start_time]" id="time-box" required>
    <option selected><%= @reservation.start_time %></option>
  </select>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>
  <div class="field">
    <%= form.label :request %>
    <%= form.text_area :request %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
