<h1>予約一覧</h1>
<%= form_with url: admin_reservations_path, method: :get, id: "month-form" do |form| %>
  <% if @reservations.present? %>
    <%= form.select :chosen_month, @selectable_months, selected: l(@chosen_month, format: :month) %>
  <% else %>
    <%= form.select :chosen_month, @selectable_months, include_blank: "-- 選択して下さい --" %>
  <% end %>
<% end %>
<% if @reservations.present? %>
  <table class="reservation-list">
    <thead>
      <tr>
        <th>予約日</th>
        <th>予約時間</th>
        <th>予約名</th>
        <th>予約人数</th>
        <th></th>
        <th></th>
        <th></th>
        <%# <th colspan="3"></th> %>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= l reservation.date, format: :date %></td>
          <td><%= reservation.start_time %></td>
          <td><%= reservation.name %></td>
          <td><%= reservation.guest_number %></td>
          <td><%= link_to '詳細', admin_reservation_path(reservation) %></td>
          <td><%= link_to '編集', edit_admin_reservation_path(reservation) %></td>
          <td><%= link_to '削除', admin_reservation_path(reservation, chosen_month: params[:chosen_month]), method: :delete, data: { confirm: '削除しますか?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to '管理画面トップページ', admin_root_path %>
