<h1>管理者画面 トップページ</h1>
<%= link_to "お知らせ新規投稿", new_admin_notification_path %>
<%= link_to "メニュー新規投稿", new_admin_menu_path %>
<%= link_to "予約一覧", admin_reservations_path %>
<%= link_to "規定営業・休業設定", new_admin_day_condition_path %>
<%= link_to "臨時営業・休業設定", new_admin_temporary_date_path %>
