<div class="temporary-index-content">
  <p>日付: <%= l(temporary_date.date, format: :info) %></p>
  <% if temporary_date.holiday_id %>
    <p style="color: red;"><%= temporary_date.holiday.name %></p>
  <% end %>
  <p>開始時間: <%= temporary_date.start_time %></p>
  <p>終了時間: <%= temporary_date.end_time %></p>
  <%= link_to '編集', edit_admin_temporary_date_path(temporary_date) %>
  <%= link_to '削除', admin_temporary_date_path(temporary_date), method: :delete, data: { confirm: '削除しますか?' } %>
  <hr>
</div>
