<% slider_open = @temporary_date.start_min.present? ? "true" : nil %>
<% start_min = @temporary_date.start_min || Reservation::DEFAULT_END_MIN %>
<% end_min = @temporary_date.end_min || Reservation::DEFAULT_END_MIN %>
<h1>臨時営業日・休業日編集</h1>
<%= form_with url: admin_temporary_date_path(@temporary_date), scope: :temporary_date, method: :patch do |form| %>
  <input type="text" name="temporary_date[date]" id="flatpickr" data-min_date="<%= l(@initial_date) %>" data-default_date="<%= l(@temporary_date.date) %>">
  <div style="padding: 2rem;">
    <%= render "slider", slider_start: start_min, slider_end: end_min, slider_open: slider_open %>
  </div>
  <%= form.submit "送信" %>
<% end %>
<%= link_to "臨時営業日・休業日 一覧ページ", admin_temporary_dates_path %>
<%= link_to '管理画面トップページ', admin_root_path %>
