<%= form_with(model: menu, url: url) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
        <% menu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="menu-genre">
    <%= form.label :genre %>
    <div class="menu-genre-content">
      <%= form.select :genre, Menu.genres.keys %>
    </div>
  </div>
  <div class="field">
    <%= form.label :name %>
    <div class="menu-name-content">
      <%= form.text_field :name %>
    </div>
  </div>
  <div class="field">
    <%= form.label :price %>
    <div class="menu-price-content">
      <%= form.text_field :price %>
    </div>
  </div>
  <div class="menu-submit">
    <%= form.submit %>
  </div>
<% end %>
