<h2 class="menu-title">メニュー一覧</h2>
<div class="menu" id="menu-list">
  <div class="menu_list" style="display: flex;">
    <div class="title">ジャンル</div>
    <div class="title">商品名</div>
    <div class="title">金額</div>
    <div class="title"></div>
    <div class="title"></div>
  </div>
  <% @menus.each do |menu| %>
    <div class="menu-draggable">
      <div class="item menu-genre"><%= menu.genre %></div>
      <div class="item menu-name"><%= menu.name %></div>
      <div class="item menu-price"><%= menu.price %></div>
      <div class="item menu-edit"><%= link_to '編集', edit_admin_menu_path(menu) %></div>
      <div class="item menu-delete"><%= link_to '削除', admin_menu_path(menu), method: :delete, data: { confirm: '削除しますか?' } %></div>
    </div>
  <% end %>
</div>
<div class="new-menu">
  <%= link_to '新規メニュー投稿', new_admin_menu_path %>
</div>
<div class="return-admin-top">
  <%= link_to '管理画面トップページ', admin_root_path %>
</div>
