<p id="notice"><%= notice %></p>
<div class="menu">
  <h1>メニュー管理</h1>
  <table class="menu_list">
    <thead>
      <tr>
        <th>順番</th>
        <th>ジャンル</th>
        <th>商品名</th>
        <th>金額</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @menus.each do |menu| %>
        <tr>
          <td><%= menu.position %></td>
          <td><%= menu.genre %></td>
          <td><%= menu.name %></td>
          <td><%= menu.price %></td>
          <td><%= link_to '編集', edit_admin_menu_path(menu) %></td>
          <td><%= link_to '削除', admin_menu_path(menu), method: :delete, data: { confirm: '削除しますか?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to '新規メニュー投稿', new_admin_menu_path %>
</div>
