<div class="show_menu">
  <p class="menu-ganre">
    <strong>ジャンル:</strong>
    <%= @menu.genre %>
  </p>
  <p class="menu-name">
    <strong>商品名:</strong>
    <%= @menu.name %>
  </p>
  <p class="menu-price">
    <strong>価格:</strong>
    <%= @menu.price %>
  </p>
</div>
<div class="show_edit_back">
  <%= link_to '編集', edit_admin_menu_path(@menu) %> |
  <%= link_to 'メニュー一覧へ戻る', admin_menus_path %>
</div>
